enable-pre-post-scripts=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
phantomjs_cdnurl=https://bitbucket.org/ariya/phantomjs/downloads
# sqlite3_binary_host=https://registry.npmmirror.com/binary.html?path=sqlite3
# msvs-version=2022